[Unit]
Description=Simple Network Communication Broker Service
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/bin/snc_broker

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

